$board-size: 12;
$cell-size: (75vh/$board-size);
$cell-border-radius: 0.1;

$board-color: #eee;

$cell-color: #c8c8c8;
$cell-under-shape-color: #eee;
$cell-typing-color: #77f288;

$base-color: darken(desaturate(#f3d569, 12%), 15%);

$themes:       $base-color 
    adjust-hue($base-color, 300deg)
    adjust-hue($base-color, 240deg)
    adjust-hue($base-color, 180deg)
    adjust-hue(darken(desaturate($base-color, 8%), 15%), 140deg)
    adjust-hue(darken(desaturate($base-color, 3%), 5%), 120deg)
    adjust-hue(darken(desaturate($base-color, 7%), 8%), 30deg)
    adjust-hue(darken(desaturate($base-color, 4%), 6%), 60deg)
    adjust-hue($base-color, 210deg)
    adjust-hue($base-color, 270deg)
    adjust-hue($base-color, 330deg);

$theme-change-time: 5000ms;
$base-letter-color: #f3d569;
//$letter-background: radial-gradient(#f3d569,#E3b563 88%);
$letter-background: radial-gradient($base-letter-color, adjust-hue(darken($base-letter-color, 7%), -1deg) 88%);
$letter-under-shape-background: radial-gradient(#ffffff,#f2f2f2 88%);

@each $theme in $themes {
    $i: index($themes, $theme);
    [data-theme="#{$i}"] {
        background: $theme;
        box-shadow: inset 0px 0px 120px rgba(0, 0, 0, 0.12);
        .game-header {
            .game-action-bar {
                color: $theme;
        }
        }
        .game-board {
            .game-grid-row {
                .game-grid-cell {
                    p {
                        background: $theme;
                    }
                    &.cursor {
                        p {

                        }
                    }
                    &.typing {
                        p {

                        }
                    }
                    &.under-shape {
                        p {

                        }
                    }
                }
            }
        }
    }
}

.word-game {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all $theme-change-time ease-in-out;
}

.game-help-text {
    width: $cell-size*$board-size*1.04;
    margin: 1vh auto 1vh auto;
    font-size: $cell-size*0.25;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.game-header {
    width: $cell-size*$board-size*1.04;
    margin: 2vh auto 1vh auto;
    .game-header-title {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            color: white;
            font-size: $cell-size*1.1;
            width: 75%;
            text-transform: uppercase;
            text-align: left;
        }
        h2 {
            width: 25%;
            text-align: right;
            color: white;
            font-size: $cell-size*0.35;
            text-transform: uppercase;
        }
        border-bottom: 2px dashed white;
        margin-bottom: 8px;
    }
    .game-action-bar {
        background: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 1%;
        padding-right: 1%;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        transition: all $theme-change-time ease-in-out;
        p {
            font-size: $cell-size*0.35;
            line-height: 32px;
            font-weight: 400;
            text-transform: uppercase;
            .data-point {
                display: inline-block;
                margin: 0px 4px;
                color: black;
                font-weight: 700;
            }
            &.game-action-bar-action {
                font-weight: 900;
                cursor: pointer;
            }
        }
    }
}

.game-board {
    background: $board-color;
    overflow: hidden;
    width: $cell-size*$board-size;
    height: $cell-size*$board-size;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    border: $cell-size*1px/4px solid white;
    border-radius: $cell-size*0.2;
    position: relative;
    box-sizing: content-box;
    > h1 {
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: $cell-size*1.5;
        font-weight: 700;
        z-index: 0;
        opacity: 0;
        transition: opacity 600ms ease-in-out;
        &.visible {
            opacity: 1;
        }
    }
    .game-grid {
        position: relative;
        .game-grid-row {
            position: absolute;
            left: 0;
            &:after {
                content: " ";
                display: block;
                clear: both;
            }
            .game-grid-cell {
                position: absolute;
                top: 0;
                width: $cell-size;
                height: $cell-size;
                border: 3px solid $board-color;
                overflow: hidden;

                background: $cell-color;
                transition: all 200ms ease-in-out, transform 800ms ease-in-out, opacity 800ms ease-in-out;
                border-radius: $cell-size*$cell-border-radius;

                &.under-shape {
                    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
                    background: $cell-under-shape-color;
                    p {
                        filter: brightness(1.15);
                    }
                }

                &.typing {
                    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
                    filter: hue-rotate(-35deg) brightness(0.95) grayscale(0.05);
                }

                animation: none;
                &.cursor {
                    animation: cursor-anim 250ms alternate infinite;
                }

                transform: scale(1);
                opacity: 1;
                &.win {
                    //animation: win-anim 700ms ease-out;
                    transition: all 900ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
                    transform: scale(0);
                    opacity: 0;
                }

                p {
                    text-transform: uppercase;
                    color: white;
                    font-weight: 700;
                    font-size: $cell-size*1/2;
                    text-align: center;
                    position: relative;
                    width: $cell-size;
                    height: $cell-size;
                    padding-right: $cell-size*0.1;
                    line-height: $cell-size*0.77;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 5;
                    overflow: hidden;
                    border-radius: $cell-size*$cell-border-radius;
                    box-shadow: inset -2px -2px 8px 8px rgba(0, 0, 0, 0.1);

                    transform: scale(0);
                    transition: transform 200ms ease-in-out,
                                background $theme-change-time ease-in-out,
                                filter 200ms ease-in-out;
                    filter: grayscale(0);
                    &.visible {
                        transform: scale(1);
                    }

                    span {
                        position: relative;
                        z-index:  50;
                    }
                }
            }
        }

        @for $x from 0 through $board-size {
            @for $y from 0 through $board-size{
                .game-grid-row:nth-of-type(#{$y + 1}) {
                    top: $cell-size * $y;
                    .game-grid-cell:nth-of-type(#{$x + 1}) {
                        left: $cell-size * $x;
                    }
                }
            }
        }
    }
}

@keyframes cursor-anim {
    from {
        filter: brightness(1);
    }
    to {
        filter: brightness(1.15);
    }
}

@keyframes win-anim {
    0% {
        transform: scale(1);
    }

    12% {
        transform: scale(0.89);
    }

    24% {
        transform: scale(0.56);
    }

    36% {
        transform: scale(0.02);
    }

    54% {
        transform: scale(0.25);
    }

    74% {
        transform: scale(0.02);
    }

    82% {
        transform: scale(0.06);
    }

    92% {
        transform: scale(0.01);
    }

    96% {
        transform: scale(0.02);
    }

    100% {
        transform: scale(0);
    }
}