* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Solway', serif;
    background: radial-gradient(#00dd88, #00eeaa);
    width: 100%;
    height: 100%;
    overflow: hidden;
}


#game-root {
    @import './styles/_board.scss';
}